/* Colors for stuff
	Maroon: #500000
	White: #eee
	Grey: #ddd
*/

html{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background-color: #ddd;
	margin: 0;
	padding: 0;
	height: 100%;
}

header{
	background-color: #eee;
	height: 60px;
	position: fixed;
	width: 100%;
}

h1{
	margin: 0;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: Bold;
	font-size: 40px;
	margin-left: 10px;
}

.title{
	color: #500000
}

.nav{
	margin-top: 4px;
	float: right;
}

.nav ul, li{
	display: inline-block;
	margin: 0;
	list-style: none;
}

.nav a{
	margin: 0;
	margin-right: 10px;
	color: #555;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 32px;
	text-decoration: none;
}

.nav a:hover{
	color: #500000;
	cursor: pointer;
	font-weight: 600;
}

.divider{
	height: 40px;
	width: 100%;
	background-color: #eee;
	border-bottom: solid 4px #aaa;
}

footer{
	background-color: #eee;
	height: 60px;
	width: 100%;
}
